@import 'tailwindcss';

body {
  @apply bg-[#F3F4F6] text-[#5A5A5A];
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #1d2939;
}
